@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*::selection{
    background-color: rgba(1, 66, 20, 0.6);
}

html {
    scroll-behavior: smooth;
}


/*HEADER---------------------------------------*/
.header {
    display: flex;
}

.header-left {
    background-color: #089132;
    width: 50%;
    color: white;
    padding: 72px 50px 70px 120px;
}

.header-left h1 {
    font-size: 79px;
    margin-bottom: 60px;
    line-height: 1.1;
}

.header-left h1 span {
    /*font-size: 80px;*/
    color: black;
}

.header-left p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 60px;
}

.start-reading-btn {
    padding: 14px 24px;
    background-color: black;
    transition: all ease .3s;
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

.start-reading-btn:hover {
    background-color: #910867;
}

.header-right {
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.1)
        ),
        url(./images/img-1.jpg);
    background-size: cover;
    width: 50%;
}


/*DIV-2---------------------------------------*/
.div-2 {
    display: flex;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        url(./images/img-2.jpg);
    background-size: cover;
    padding: 55px 10%;
}

.div-2-left {
    width: 50%;
}

.div-2-right {
    width: 50%;
    background-color: white;
    padding: 30px 30px 20px 30px;
}

.div-2-right h3 {
    font-size: 31px;
    margin-bottom: 27px;
    line-height: 1.5;
}

.div-2-right p {
    line-height: 1.7;
    font-size: 20px;
}

.div-2-right p strong {
    color: #089132;
}


/*QUOTE---------------------------------------*/
.quote {
    background-color: #089132;
    color: white;
    text-align: center;
    padding: 85px 14.6% 60px 14.6%;
    display: flex;
}

.quote p {
    font-size: 23px;
    padding: 0 90px;
    line-height: 1.7;
}

.quote p span {
    font-size: 17px;
    line-height: 2.0;
}

.quote img {
    height: 58px;
    width: 58px;
}

.quote img:nth-child(1) {
    position: relative;
    top: 140px;
}


/*PRICING---------------------------------------*/
.pricing {
    background-color: black;
    color: white;
    padding: 100px 9.5%;
}

.pricing h2 {
    font-size: 55px;
    margin-bottom: 33px;
    color: #089132;
}

.pricing p {
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 1.7;
}

.pricing-container {
    display: flex;
}

.pricing-container-left {
    background-color: white;
    color: black;
    width: 50%;
    padding: 50px;
}

.pricing-container-left h3,
.pricing-container-right h3 {
    font-size: 31px;
    margin-bottom: 35px;
}

.pricing-container-left p,
.pricing-container-right p {
    font-size: 20px;
    margin-bottom: 30px;
}

.pricing-container-left p strong{
    color: #089132;
}

.pricing-container-left ul,
.pricing-container-right ul {
    margin-bottom: 20px;
}

.pricing-container-left li,
.pricing-container-right li {
    font-size: 21px;
    margin-left: 20px;
    line-height: 2.1;
    font-weight: 500;
}

.pricing-container-left-btn {
    border: solid 1px black;
    background-color: white;
    padding: 14px 24px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    transition: all ease .3s;
    margin-top: 36px;
}

.pricing-container-left-btn:hover {
    background-color: black;
    color: white;
}

.pricing-container-right {
    background-color: #089132;
    width: 50%;
    padding: 50px;
}

.pricing-container-right p strong{
    color: black;
}

.pricing-container-right-btn {
    border: solid 1px white;
    background-color: #089132;
    padding: 14px 24px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    transition: all ease .3s;
    color: white;
    margin-top: 15px;
}

.pricing-container-right-btn:hover {
    background-color: white;
    color: black;
}


/*ABOVE FOOTER AND FOOTER--------------------------*/
.above-footer {
    display: flex;
}

.above-footer-left {
    background: url(./images/img-3.jpg);
    background-size: cover;
    width: 50%;
}

.above-footer-right {
    background-color: white;
    width: 50%;
    color: black;
    padding: 72px 50px 70px 70px;
}

.above-footer-right h1 {
    font-size: 79px;
    margin-bottom: 60px;
    line-height: 1.1;
}

.above-footer-right h1 span {
    /*font-size: 80px;*/
    color: #089132;
}

.above-footer-right p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 60px;
}

footer {
    padding: 40px;
    color: white; 
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}




/*---------------------------------------------*/
/*MEDIA QUERIES--------------------------------*/
/*---------------------------------------------*/

/*TABLETS--------------------------------------*/
@media only screen 
and (max-width: 768px)
and (orientation : portrait) {
    /*HEADER---------------------------------*/
    .header-left {
        padding: 48px 50px 45px 32px;
    }

    .start-reading-btn {
        font-size: 19px;
    }

    /*DIV-2-----------------------------------*/
    .div-2 {
        padding: 30px 12%;
    }

    .div-2-left {
        display: none;
    }
    
    .div-2-right {
        width: 100%;
        background-color: white;
        padding: 30px;
    }

    /*QUOTE------------------------------------*/
    .quote {
        padding: 85px 8.3% 80px 8.3%;
    }
    
    .quote p {
        padding: 0 40px;
    }
    
    .quote img {
        height: 45px;
        width: 45px;
    }
    
    .quote img:nth-child(1) {
        position: relative;
        top: 220px;
    }

    /*PRICING-----------------------------------*/
    .pricing {
        padding: 80px 2%;
    }

    .pricing h2 {
        margin-bottom: 33px;
        margin-left: 30px;
    }
    
    .pricing p {
        margin-bottom: 50px;
        margin-left: 30px;
    }
    
    .pricing-container-left,
    .pricing-container-right {
        padding: 45px 30px;
    }

    .pricing-container-left h3,
    .pricing-container-right h3 {
        font-size: 30px;
        margin-bottom: 27px;
    }

    .pricing-container-left p,
    .pricing-container-right p {
        margin-left: 0;
    }

    .pricing-container-left-btn,
    .pricing-container-right-btn {
        font-size: 19px;
        margin-top: 15px;
    }

    /*ABOVE FOOTER--------------------------*/
    .above-footer {
        background: url(./images/img-3.jpg);
        background-size: cover;
        padding: 40px;
    }

    .above-footer-left {
        display: none;
    }

    .above-footer-right {
        width: 100%;
        padding: 50px;
    }
}

@media only screen
and (max-width: 1024px) 
and (orientation: landscape) {
    /*HEADER---------------------------------*/
    .header-left {
        padding: 55px 50px;
    }

    .start-reading-btn {
        font-size: 19px;
    }

    /*DIV-2-----------------------------------*/
    .div-2 {
        padding: 60px 3%;
    }
    
    .div-2-right {
        padding: 30px;
    }

    /*QUOTE------------------------------------*/
    .quote {
        padding: 85px 8.3% 80px 8.3%;
    }
    
    .quote p {
        padding: 0 45px;
    }
    
    .quote img {
        height: 55px;
        width: 55px;
    }
    
    .quote img:nth-child(1) {
        position: relative;
        top: 137px;
    }

    /*PRICING-----------------------------------*/
    .pricing {
        padding: 70px 3% 80px 3%;
    }

    .pricing h2 {
        margin-bottom: 33px;
        margin-left: 30px;
    }
    
    .pricing p {
        margin-bottom: 60px;
        margin-left: 30px;
    }
    
    .pricing-container-left,
    .pricing-container-right {
        padding: 45px;
    }

    .pricing-container-left h3,
    .pricing-container-right h3 {
        font-size: 30px;
        margin-bottom: 27px;
    }

    .pricing-container-left p,
    .pricing-container-right p {
        margin-bottom: 15px;
        margin-left: 0;
    }

    .pricing-container-left-btn {
        font-size: 19px;
        margin-top: 3px;
    }

    .pricing-container-right-btn {
        font-size: 19px;
        margin-top: 15px;
    }

    /*ABOVE FOOTER--------------------------------*/
    .above-footer-right {
        padding: 60px 50px 60px 55px;
    }
}



/*SMARTPHONES--------------------------------------*/
@media only screen 
and (max-width: 480px)
and (orientation: portrait) {
    /*HEADER---------------------------------*/
    .header-left {
        width: 100%;
        padding: 60px 50px 50px 40px;
    }
    
    .header-left h1 {
        font-size: 60px;
        margin-bottom: 45px;
        line-height: 1.1;
    }
    
    .header-left p {
        margin-bottom: 45px;
    }
    
    .header-right {
        display: none;
    }

    /*DIV-2---------------------------------------*/
    .div-2 {
        /*display: flex;*/
        padding: 75px 3%;
    }

    .div-2-left {
        display: none;
    }

    .div-2-right {
        width: 100%;
        padding: 30px;
    }

    .div-2-right h3 {
        font-size: 31px;
    }

    .div-2-right p {
        font-size: 19px;
    }

    /*QUOTE---------------------------------------*/
    .quote {
        text-align: center;
        padding: 40px 30px;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
    }

    .quote p {
        font-size: 20px;
        padding: 0;
        margin: 35px 0;
    }

    .quote p span {
        font-size: 15px;
    }

    .quote img {
        height: 73px;
        width: 73px;
    }

    .quote img:nth-child(1) {
        position: relative;
        top: 0;
    }

    /*PRICING---------------------------------------*/
    .pricing {
        padding: 60px 2% 40px 2%;
    }

    .pricing h2 {
        font-size: 42px;
        margin-bottom: 35px;
        margin-left: 18px;
    }

    .pricing p {
        font-size: 17px;
        margin-bottom: 45px;
        margin-left: 18px;
    }

    .pricing-container {
        display: flex;
        flex-direction: column;
    }

    .pricing-container-left,
    .pricing-container-right {
        width: 100%;
        padding: 43px 22px;
        margin-bottom: 10px;
    }

    .pricing-container-left h3,
    .pricing-container-right h3 {
        font-size: 29px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    .pricing-container-left p,
    .pricing-container-right p {
        font-size: 18px;
        margin-bottom: 27px;
        margin-left: 5px;
    }

    .pricing-container-left ul,
    .pricing-container-right ul {
        margin-bottom: 25px;
    }

    .pricing-container-left li,
    .pricing-container-right li {
        font-size: 19px;
        margin-left: 20px;
    }

    .pricing-container-left-btn,
    .pricing-container-right-btn {
        margin-top: 36px;
    }

    /*ABOVE FOOTER AND FOOTER--------------------------*/
    .above-footer {
       background: none;
       padding: 10px 20px;
    }

    .above-footer-left {
        display: none;
    }

    .above-footer-right {
        width: 100%;
        padding: 50px 10px;
    }

    .above-footer-right h1 {
        font-size: 55px;
        margin-bottom: 60px;
    }

    .above-footer-right p {
        font-size: 20px;
        line-height: 1.7;
        margin-bottom: 60px;
    }

    footer {
        font-size: 14px;
        padding: 25px;
    }
}

@media only screen 
and (max-width: 812px)
and (orientation: landscape) {
/*ABOVE FOOTER AND FOOTER--------------------------*/
.above-footer {
    display: flex;
    background: url(./images/img-3.jpg);
    background-size: cover;
    padding: 30px;
}

.above-footer-left {
    display: none;
}

.above-footer-right {
    background-color: white;
    width: 100%;
    color: black;
    padding: 72px 50px 70px 70px;
}

.above-footer-right h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

.above-footer-right h1 span {
    /*font-size: 80px;*/
    color: #089132;
}

footer {
    padding: 25px;
    font-size: 15px;
}
}
